.main{    
    &__container {
        padding: 100px 30px;
        display: flex;
    }
    &__content {
        margin: 0px 50px 0px 0px;
        
        display: flex;
        flex-direction: column;
    }
    &__title {
        @include adaptiv-font(24, 19);
        line-height: 32px;
        letter-spacing: 0.055em;
        font-weight: 100;
        color: #000000;
        max-width: 673px;
    }
}

.property {
    margin: 80px 0px 0px 0px;
    position: relative;
    display: flex;
    border-top: solid .5px #333;
    &__info {
        &::before{
            z-index: 1;
            width: 425px;
            height: 452px;
            position: absolute;
            content: '';
            top: 25px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            left: -70px;
            background: #E4D7B9;
            pointer-events: none;
            border-radius: 50%;
        }
        div {
            top: 150px;
            position: relative;
            @include adaptiv-font(16, 14);
            line-height: 133.84%;
            letter-spacing: 0.055em;
            z-index: 3;
        }
    }
    &__img{
        position: relative;
        left: -80px;
        z-index: 3;
    }
}

.nav-property{
    position: relative;
    z-index: 1;
    border-radius: 20px;
    margin: 40px 0px 0px 0px;
    background: #BDDDDD;
    padding: 0px 15px;
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__item{
        margin: 15px 0px 0px 0px;
        padding: 0px 50px;
        transition: .5s ease all;
        &:hover{
            background: #FFFFFF;
            opacity: 0.5;
            border-radius: 14px;
        }
        &:active{
            background: #FFFFFF;
            opacity: 0.7;
            border-radius: 14px;
        }
    }
}

.day-night{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    li{
        padding: 21px 25px;
    }
    .sun{
        border-radius: 0px 0px 0px 20px;
        background: #FFF3DA;
    }
    .night{
        border-radius: 0px 0px 20px 0px;
        background: #94A6A6;
    }
}