@import 'mixins';
@import 'Header';
@import 'Main';
@import 'Property';
@import 'font';
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF Compact Display';
    list-style: none;
    text-decoration: none;   
    user-select: none;
}